* {
    margin: 0;
    padding: 0;
    border: 0;
}

nav > ul {
    /* Remove the dots */
    list-style: none;

    /* Set the display to grid to have the name in a row and center to their own cell */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

nav > ul > li {
    text-align: center;
}